<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/studentdata</property>

		<property name="hibernate.connection.username">root</property>
		
		<property name="hibernate.connection.password">123456</property>

		<property name="hibernate.hbm2ddl.auto">update</property> 
			<property name="show_sql">true</property> 
			
	<property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider
	</property> 
			
		<property name="hibernate.hikari.minimumIdle">5</property> 
		
		<property name="hibernate.hikari.maximumPoolSize">20</property> 
		<!-- maximum waiting time in ms-->
		<property name="hibernate.hikari.connectionTimeout">10000</property>

	<mapping class="com.StudentModel"/>
	
	</session-factory>
</hibernate-configuration>

